
{{#resultoutput}}
    {{#userDetails}}
        <hr/>
            <h2>{{displayName}}</h2>
            <p><strong>Username:</strong> {{userName}}</strong></p>
            <p><strong>User Auth Token:</strong> {{authToken}}</strong></p>
        <hr/>
    {{/userDetails}}
{{/resultoutput}}
