
{{#resultoutput}}
    {{#users}}
        <hr/>
            <h2>{{displayName}}</h2>
            <p><strong>Username:</strong> {{userName}}</p>
        <p><strong>Score:</strong> <span class="score" name="score-{{userName}}">{{score}}</span></p>
    {{/users}}
{{/resultoutput}}
