<p>You can also:</p>
<ul>
    <li><a href="/player/{{username}}/look">look</a></li>
    <li><a href="/player/{{username}}/inventory">inventory</a></li>
    <li><a href="/player/{{username}}/help">help</a></li>
</ul>