{{#otherPeopleHere.size}}
    <p>Other people here, you can see:</p>
    <ul>
        {{#otherPeopleHere}}
            <li personid="{{userName}}">{{displayName}}</li>
        {{/otherPeopleHere}}

    </ul>
{{/otherPeopleHere.size}}